<div>

    <form class="form-horizontal" data-ng-init="getArea()">
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <legend>{{heading}}</legend>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Id</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="Id" ng-model="area.id" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Nome</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Nome" ng-model="area.nome">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a href="area" class="btn btn-warning">Voltar</a>
                <a class="btn btn-primary btn-large" ng-click="putArea()">Salvar</a>
            </div>
        </div>
    </form>
</div>