<div>
    <form class="form-horizontal">
        <div class="form-group">
            <a class="btn btn-danger btn-large" href="#" ng-click="iniciaAtendimento(true)" ng-show="sala == null" uib-tooltip="Iniciar Atendimento" tooltip-placement="bottom">
                Iniciar Atendimento
            </a>
            <a class="btn btn-default btn-large" href="#" ng-click="iniciaAtendimento(false)" ng-show="sala != null" uib-tooltip="Finalizar Atendimento" tooltip-placement="bottom">
                Finalizar Atendimento
            </a>
        </div>
        <div class="form-group">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>guidAtendente</th>
                        <th>chaveEmpresa</th>
                        <th>situacao</th>
                        <th>guidCliente</th>
                        <th>mensagens</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{sala.id}}</td>
                        <td>{{sala.guidAtendente}}</td>
                        <td>{{sala.chaveEmpresa}}</td>
                        <td>{{sala.situacao}}</td>
                        <td>{{sala.guidCliente}}</td>
                        <td>
                            <p ng-repeat="mensagem in sala.mensagens">{{mensagem.texto}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>