<div>
    <form class="form-horizontal" data-ng-init="getEmpresas()">
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <legend>{{heading}}</legend>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <a class="btn btn-primary btn-large" href="empresa/add">Novo</a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 1%"></th>
                            <th style="width: 1%"></th>
                            <th style="width: 1%">Id</th>
                            <th>Nome</th>
                            <th style="width: 20%">Email Usuário Adm</th>
                            <th style="width: 1%">Ativo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="empresa in empresas | inicioPaginacao: (currentPage-1)*itemPerPage | limitTo: itemPerPage">
                            <td><a href="empresa/{{empresa.id}}/edit">Alterar</a></td>
                            <td><a href="" ng-click="openModalDelete(empresa)">Excluir</a></td>
                            <td>{{empresa.id}}</td>
                            <td><a href="empresa/{{empresa.id}}">{{empresa.nome}}</a></td>
                            <td>{{empresa.emailUsuarioAdm}}</td>
                            <td>{{empresa.ativo | SimNao}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="text-align: center">
            <uib-pagination total-items="total" ng-show="(total > 0)" items-per-page="itemPerPage" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" boundary-links="true" class="pagination-sm" force-ellipses="true"></uib-pagination>
        </div>
    </form>
</div>